#menuList li.ui-li-static {
    padding-top: 0;
    padding-bottom: 0;
}
#menuList li .ui-collapsible-heading {
    margin-top: 0;
    margin-bottom: 0;
}
#menuList li .ui-collapsible-heading-toggle {
    border: 0;
}
.invalid {
    color: red;
    /*border: 2px solid red;*/
}
#iconLock {
    background-color: rgba(255,0,0,0.3);
}
.connection-status-disconnected {
    background-color: rgba(255,0,0,0.3);
}
.connection-status-connected {
    background-color: rgba(0,255,0,0.3);
}
.keyCheckbox-small {
    font-size: 12px;
    font-style: normal;
}
#popupLicensingInformation-popup {
    padding: 32px;
}
.ui-icon-check {
    background-color: rgba(0,255,0,0.3) !important;
}
.ui-icon-forbidden {
    background-color: rgba(255,0,0,0.3) !important;
}
.ui-icon-alert {
    background-color: rgba(255,255,0,0.3) !important;
}