#menuList li.ui-li-static {
    padding-top: 0;
    padding-bottom: 0;
}
#menuList li .ui-collapsible-heading {
    margin-top: 0;
    margin-bottom: 0;
}
#menuList li .ui-collapsible-heading-toggle {
    border: 0;
}
.invalid {
    color: red;
    /*border: 2px solid red;*/
}
#iconLock {
    background-color: rgba(255,0,0,0.3);
}
.connection-status-disconnected {
    background-color: rgba(255,0,0,0.3);
}
.connection-status-connected {
    background-color: rgba(0,255,0,0.3);
}
.keyCheckbox-small {
    font-size: 12px;
    font-style: normal;
}
.groupCheckbox-small {
    font-size: 12px;
    font-style: normal;
}
.emptyGroup {
    color: #808080;
}
#popupLicensingInformation-popup {
    padding: 32px;
}
.ui-icon-star {
    background-color: rgba(0,255,0,0.3) !important;
}
.ui-icon-forbidden {
    background-color: rgba(255,0,0,0.3) !important;
}
.ui-icon-alert {
    background-color: rgba(255,255,0,0.3) !important;
}
/* Keyload status slider popup */
#keyloadStatus input.ui-slider-input {
    display: none;
}
#keyloadStatus a.ui-slider-handle {
    display: none;
}
#keyloadStatus .ui-slider-track {
    margin-left: 15px;
}
#keyloadStatus .details {
    font-size:80%;
}
#keyloadStatus .left {
    float: left;
    text-align: left;
}
#keyloadStatus .right {
    float: right;
    text-align: right;
    
}
.ui-loader {
    opacity: 1 !important;
    width: 300px !important;/*220*/
    position: absolute !important;
    top: 40% !important;
    left: 50% !important;
    right: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
}
a+a {
    margin-left: 10px;
}
a.keyError {
    background-color: rgba(255,0,0,0.3) !important;
}
a.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}